#screen, #back-button, #home-button {
    z-index: 2;
}

#clock {
    z-index: 3;
}

#screen {
    border: 0px;
}

#phone-frame {
    z-index: 1;
    position: absolute;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

canvas {
    position: absolute;
}

#clock {
    border: 1px solid red;
}

#container {
    position: relative;
}
