#screen, #back-button, #home-button {
    z-index: 2;
}

#screen {
    border: 0px;
}

#phone-frame {
    z-index: 1;
    position: absolute;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

canvas, #light-hunter-interface {
    position: absolute;
}

#clock {
    border: 1px solid red;
}

#container {
    position: relative;
}

#light-hunter-interface {
    background-color: #FFFFFF;
    z-index: -1;
}

#tab-audio, #tab-mask, #tab-general {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#tab-audio div, #tab-mask div, #tab-general div {
    display: table-row;
}

#tab-audio div div, #tab-mask div div {
    display: table-cell;
    height: 10%;
}


.right-aligned {
    text-align: right;
}

.ui-widget {
    font-size: 1em;
}

.ui-widget-content {
    border: 0px solid;
}

#button-container {
    text-align: center;
}

#button-container button {
    font-size: 1.5em;
}

#tab-general {
    text-align: center;
}

