<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Phone</title>
    
{#    <link rel="stylesheet" type="text/css" href="/static/css/phone.css" />#}
    {#    <link rel="stylesheet" type="text/css" href="/static/css/phone-demo.css" />#}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">
    </script>

    {#    <script src="/static/js/phone.js">#}
    {#    </script>#}
        <script src="/static/js/audio.js">
        </script>
    
</head>

<body>
</body>

</html>
